@model vidly.Models.Movie
@{
    List<Movie> movies = new List<Movie>
    {
        new Movie { Name = "Shrek!" },
        new Movie { Name = "Wall-e" }
    };
}
<div>
    <h1>Movies</h1>
    <div class="list-group">
        <strong><a class="list-group-item">Movies</a></strong>
        @foreach (var movie in movies)
        {
            <a class="list-group-item list-group-item-action">@movie.Name</a>
        }
    </div>
</div>